/* For entire body */

*{
    box-sizing: border-box;
    background-color: #36393f;
}

body {
    /* Colors*/

    color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 15%);
    /* Text Styling */
    font-family: 'Comic Neue', cursive;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    /* */
    min-width: 30em;
    max-width: 800px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 20px;
    text-align: left;
    padding-top: 20px;
}


h1 {
    text-align: center;
}

hr {
    padding: -20px;
    margin-right: -20px;
    margin-left: -20px;
}


/* Table */
table {
    border-collapse: collapse;
    width: 30em;
    background-color: #40444b;
    border-radius: 7px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 15%);
    margin: 25px left;
}

/* styles the headings*/
tr th {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    padding: 10px;
    text-align: left;
    font-size: 17px;
}

/* makes pading 10px for any <td> in a <tr>*/
tr td {
    padding: 8px;
}

/* made any <span> element inside of a <td> inside of a <tr> in a table smaller and a different color*/
table tr td span {
    font-size: 12px;
    color: beige;
}

/* Makes the furthest right columns centered right */
table tr th:nth-last-child(1),
table tr td:nth-last-child(1) {
    text-align: right;
}

/* Styles any rowspan in a table*/
td[rowspan] {
    font-weight: 700;
    border-right: 1px dashed rgba(255, 255, 255, 0.5);
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px;
}

/* Makes the top left corner have dasehd line on the right */
tr th:nth-child(1) {
    border-right: 1px dashed rgba(255, 255, 255, 0.5);
}

/* Styling for links*/
a:link, a:visited {
    color: white;
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    }
a:hover, a:active {
    color: black;
    background-color: #c4c4c4;
    box-shadow: #000;
}


div {
    border-bottom: 2px solid white;
    height: 20px;
    text-align: center;
    width: 110%;
    ;
  }
  
  div span {
    color: white;
    font-size: 30px;
  
    padding: 1%;
  }